body {
	overflow-x: hidden;
	font-family: "Montserrat", sans-serif;
}

.search-box {
	width: 281px;
	margin: auto;
	margin-top: 50px;
}

.single-product {
	min-height: 500px;
	padding: 10px;
	transition: 0.5s;
	border-radius: 10px;
}
.single-product:hover {
	box-shadow: 0px 0px 10px 2px rgb(194, 194, 194);
}

.product-image {
	width: 50%;
	height: 200px;
}
.cart {
	width: 350px;
	/* border: 1px solid green; */
	padding: 10px;
	box-shadow: 0px 0px 10px 2px rgb(206, 206, 206);
	border-radius: 5px;
	margin-right: 30px;
	position: fixed;
}
.cart-main {
	padding-right: 30px;
}
@media only screen and (max-width: 768px) {
	.cart {
		width: 300px;
		/* border: 1px solid green; */
		padding: 10px;
		box-shadow: 0px 0px 20px gray;
		border-radius: 5px;
		margin-right: 30px;
		position: fixed;
	}
	.cart-main {
		padding-right: 10px;
	}
}
